header {
    height: 100vh;
    
   
}
.brand {
    
    width: 173px;
    height: 29px;
    left: 38px;
    top: 29px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 29px;

    color: #FFFFFF;
}

nav {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 1.5rem;
    box-sizing: border-box;

    position:sticky;
    width: 1728px;
    height: 87px;
    left: 0px;
    top: 0px;

    background: #000000;
    border-bottom: 2px solid #FFFFFF;

}
.search {
    display: flex;
    justify-content: space-evenly;
    width: 35vw;
    
}
a{
    color: white;
    text-decoration: none;
}

.first-page {
    position: absolute;

    width: 1728px;
    height: 1000px;
    left: 0px;
    top: 87px;

    background: #000000;
}

.page-header {
    position: absolute;

    width: 1050px;
    height: 745px;
    left: 96px;
    top: 90px;
    padding: 2px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 242px;

    color: #FFFFFF;

}

.first {
    position: absolute;
    width: 734px;
    height: 395px;
    left: 994px;
    top: 440px;

    background: url(pngegg.png);
}
.info {
    color: white;
}
.sec-page {
    position: absolute;

    width: 1728px;
    height: 1030px;
}
.about {
    position: absolute;
    width: 912px;
    height: 50px;
    left: 747px;
    top: 500px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 121px;

    color:black;
}
.info {
    position: absolute;
    width: 912px;
    height: 546px;
    left: 747px;
    top: 650px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}
.man {
    position: absolute;
    width: 572px;
    height: 726px;
    left: 89px;
    top: 500px;

    background: url(man.png);
}
.third-page {
    position: absolute;

    width: 1728px;
    height: 1030px;
}
.service-title {
    position: absolute;
    width: 912px;
    height: 160px;
    left: 82px;
    top: 1350px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 121px;

    color: #000000;
}
.cards {
    position: absolute;
    width: 500px;
    height: 300px;
    left: 82px;
    top: 1500px;

   
}
.card-body {
    
    min-height: 300px;
    min-width: 500px;
    margin-right: 15px;    
}
.line {
    position: absolute;
    width: 1622px;
    height: 0px;
    left: 70px;
    top: 1800px;

    border: 5px solid black;
}
.last-page {
    
    position: absolute;
    width: 1728px;
    height: 1030px;
    left: 0px;
    top: 2600px;

    background: #000000;
}
.contact {
    position: absolute;
    width: 692.27px;
    height: 144px;
    left: 518px;
    top: 100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 121px;

    color: white;
}
.form {
   position: absolute;
    top: 300px;
    left: 200px;
    width: 1200px;

  
}
